*{
    margin: 0;
    padding: 0;
    font-family: "popins" sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 158, 121);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container{
    background-color: aliceblue#ffff;
    width: 400px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}
.row{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}
.row input{
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid #a3a3a3;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0px;
}
button{
    margin: 50px;
    height: 45px;
    cursor: pointer;
    background-color: #78c1f3;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-bottom: 20px;
}
button:hover{
    background: #3998d8;
}
.active{
    background-color: #0099ff;
}
